@{
    ViewData["Title"] = "Table Elements";
}

@section Styles {
    <link href="~/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
    <script src="~/lib/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/lib/jvectormap-content/world-mill.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/dashboard.demo.js"></script>
}






<!-- BEGIN container -->
<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tablas</a></li>
                        <li class="breadcrumb-item active">Índices de precios industriales</li>
                    </ul>

                    <h1 class="page-header">
                        Ejemplo de representación de datos - IPRI
                    </h1>

                    <hr class="mb-4" />

                    <!-- BEGIN #basicTable -->
                    <div id="basicTable" class="mb-5">
                        <h4>Índices de precios industriales</h4>
                        <p>Datos obtenidos del Instituto Nacional de Estadísta a fecha de 24 de Noviembre de 2023.</p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-n3">
                                    <div>

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Año</th>
                                                    <th scope="col">Valor del índice</th>
                                                    <th scope="col">Variación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">2000</th>
                                                    <td> 74288</td>
                                                    <td> 5.4</td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">2001</th>
                                                    <td> 75572</td>
                                                    <td> 1.7</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2002</th>
                                                    <td> 75998</td>
                                                    <td> 0.6</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2003</th>
                                                    <td> 77093</td>
                                                    <td> 1.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2004</th>
                                                    <td> 79954</td>
                                                    <td> 3.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2005</th>
                                                    <td> 83743</td>
                                                    <td> 4.7</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2006</th>
                                                    <td> 87916</td>
                                                    <td> 5.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2007</th>
                                                    <td> 90917</td>
                                                    <td> 3.6</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2008</th>
                                                    <td> 96401</td>
                                                    <td> 6.5</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2009</th>
                                                    <td> 91133</td>
                                                    <td> -3.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2010</th>
                                                    <td> 94828</td>
                                                    <td> 3.7</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2011</th>
                                                    <td> 100976</td>
                                                    <td> 6.9</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2012</th>
                                                    <td> 103692</td>
                                                    <td> 3.8</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2013</th>
                                                    <td> 103671</td>
                                                    <td> 0.6</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2014</th>
                                                    <td> 102228</td>
                                                    <td> -2.1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2015</th>
                                                    <td> 100000</td>
                                                    <td> -2.1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2016</th>
                                                    <td> 98216</td>
                                                    <td> -3.1</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2017</th>
                                                    <td> 101989</td>
                                                    <td> 4.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2018</th>
                                                    <td> 104599</td>
                                                    <td> 3</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2019</th>
                                                    <td> 104541</td>
                                                    <td> -0.4</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2020</th>
                                                    <td> 101521</td>
                                                    <td> -4.3</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2021</th>
                                                    <td> 111792</td>
                                                    <td> 17.5</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2022</th>
                                                    <td> 133873</td>
                                                    <td> 35.5</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                                <div class="hljs-container">


                                    <div class="card mb-3">
                                        <!-- BEGIN card-body -->
                                        <div class="card-body">
                                            <!-- BEGIN title -->
                                            <div class="d-flex fw-bold small mb-3">
                                                <span class="flex-grow-1">Representación de la evolución Anual del Salario</span>
                                                <a href="#" data-toggle="card-expand" class="text-white text-opacity-50 text-decoration-none"><i class="bi bi-fullscreen"></i></a>
                                            </div>
                                            <!-- END title -->
                                            <!-- BEGIN chart -->
                                            <div class="ratio ratio-21x9 mb-3">
                                                <div id="chart-salario"></div>
                                            </div>

                                        </div>
                                        <!-- END card-body -->
                                        <!-- BEGIN card-arrow -->
                                        <div class="card-arrow">
                                            <div class="card-arrow-top-left"></div>
                                            <div class="card-arrow-top-right"></div>
                                            <div class="card-arrow-bottom-left"></div>
                                            <div class="card-arrow-bottom-right"></div>
                                        </div>
                                        <!-- END card-arrow -->
                                    </div>
                                    <!-- END card -->

                                    <center>

                                        
                                            <a href="/Tables/TableSalaryPlus">
                                            <div class="d-grid gap-2">
                                                <button type="button" class="btn btn-theme">Regresión de los datos</button>
                                            </div>
                                            </a>
                                            
                                       


                                    </center>


                                </div>
                            </div>
                        </div>


                        <!-- END col-3 -->
                    </div>
                    <!-- END row -->
                </div>
                <!-- END col-10 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
