@{
    ViewData["Title"] = "Tabla con datos HeatMap";
}


@section Styles {
    <link href="~/lib/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
    <script src="~/lib/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/lib/jvectormap-content/world-mill.js"></script>
    <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/js/demo/dashboard.demo.js"></script>
}






<!-- BEGIN container -->
<div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
        <!-- BEGIN col-10 -->
        <div class="col-xl-10">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-9 -->
                <div class="col-xl-9">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tablas</a></li>
                        <li class="breadcrumb-item active">Ánalisis correlaciones con HeatMap</li>
                    </ul>

                    <h1 class="page-header">
                        Ánalisis correlaciones con HeatMap
                    </h1>

                    <hr class="mb-4" />

                    <!-- BEGIN #basicTable -->
                    <div id="basicTable" class="mb-5">
                        <h4>Datos anualizados de media salarial, índice de producción + Número de EMPLEADOS por rango de edad</h4>
                        <p>Datos obtenidos del Instituto Nacional de Estadísta a fecha de 24 de Noviembre de 2023.</p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-n3">
                                    <div>

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Año</th>
                                                    <th scope="col">Media salaraial</th>
                                                    <th scope="col">Media Índice producción</th>
                                                    <th scope="col">Trabajadores 20-24</th>
                                                    <th scope="col">Trabajadores 25-29</th>
                                                    <th scope="col">Trabajadores 55-59</th>
                                                    <th scope="col">Trabajadores 60-64</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">2008</th>
                                                    <td>21883.42</td>
                                                    <td>96.401</td>
                                                    <td>2771600</td>
                                                    <td>3609000</td>
                                                    <td>2541000</td>
                                                    <td>2361400</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2009</th>
                                                    <td>22511.47</td>
                                                    <td>91.133</td>
                                                    <td>2687700</td>
                                                    <td>3465200</td>
                                                    <td>2555600</td>
                                                    <td>2412900</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2010</th>
                                                    <td>22790.2</td>
                                                    <td>94.828</td>
                                                    <td>2594900</td>
                                                    <td>3292900</td>
                                                    <td>2601700</td>
                                                    <td>2427600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2011</th>
                                                    <td>22899.35</td>
                                                    <td>100.97</td>
                                                    <td>2519200</td>
                                                    <td>3127100</td>
                                                    <td>2673200</td>
                                                    <td>2438600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2012</th>
                                                    <td>22726.44</td>
                                                    <td>103.69</td>
                                                    <td>2456600</td>
                                                    <td>2964300</td>
                                                    <td>2746400</td>
                                                    <td>2471200</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2013</th>
                                                    <td>22697.86</td>
                                                    <td>103.67</td>
                                                    <td>2390300</td>
                                                    <td>2803200</td>
                                                    <td>2823900</td>
                                                    <td>2482800</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2014</th>
                                                    <td>22858.17</td>
                                                    <td>102.22</td>
                                                    <td>2330000</td>
                                                    <td>2673100</td>
                                                    <td>2916400</td>
                                                    <td>2486700</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2015</th>
                                                    <td>23106.3</td>
                                                    <td>100</td>
                                                    <td>2287300</td>
                                                    <td>2588500</td>
                                                    <td>3008200</td>
                                                    <td>2522200</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2016</th>
                                                    <td>23156.34</td>
                                                    <td>98.216</td>
                                                    <td>2251200</td>
                                                    <td>2515900</td>
                                                    <td>3097600</td>
                                                    <td>2588800</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2017</th>
                                                    <td>23646.5</td>
                                                    <td>101.98</td>
                                                    <td>2238300</td>
                                                    <td>2486700</td>
                                                    <td>3163000</td>
                                                    <td>2661700</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2018</th>
                                                    <td>24009.12</td>
                                                    <td>104.59</td>
                                                    <td>2256000</td>
                                                    <td>2497000</td>
                                                    <td>3225200</td>
                                                    <td>2746500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2019</th>
                                                    <td>24395.98</td>
                                                    <td>104.54</td>
                                                    <td>2301600</td>
                                                    <td>2515000</td>
                                                    <td>3308600</td>
                                                    <td>2849500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2020</th>
                                                    <td>25165.51</td>
                                                    <td>101.52</td>
                                                    <td>2358900</td>
                                                    <td>2521600</td>
                                                    <td>3385200</td>
                                                    <td>2952600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2021</th>
                                                    <td>25896.82</td>
                                                    <td>111.79</td>
                                                    <td>2385100</td>
                                                    <td>2495100</td>
                                                    <td>3446900</td>
                                                    <td>3035900</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2022</th>
                                                    <td>26345.84</td>
                                                    <td>133.87</td>
                                                    <td>2439100</td>
                                                    <td>2497800</td>
                                                    <td>3516400</td>
                                                    <td>3104500</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                                <div class="hljs-container">
                                </div>
                            </div>
                        </div>


                        <!-- END col-3 -->
                    </div>


                    <div id="basicTable" class="mb-5">
                        <h4>Datos anualizados de media salarial, índice de producción + Número de DESEMPLEADOS por rango de edad</h4>
                        <p>Datos obtenidos del Instituto Nacional de Estadísta a fecha de 24 de Noviembre de 2023.</p>
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-n3">
                                    <div>

                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Año</th>
                                                    <th scope="col">Media salaraial</th>
                                                    <th scope="col">Media Índice producción</th>
                                                    <th scope="col">Desempleados 20-24</th>
                                                    <th scope="col">Desempleados 25-29</th>
                                                    <th scope="col">Desempleados 55-59</th>
                                                    <th scope="col">Desempleados 60-64</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">2008</th>
                                                    <td>21883.42</td>
                                                    <td>96.401</td>
                                                    <td>349600</td>
                                                    <td>349800</td>
                                                    <td>118400</td>
                                                    <td>58600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2009</th>
                                                    <td>22511.47</td>
                                                    <td>91.133</td>
                                                    <td>400600</td>
                                                    <td>450700</td>
                                                    <td>203500</td>
                                                    <td>96500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2010</th>
                                                    <td>22790.2</td>
                                                    <td>94.828</td>
                                                    <td>421300</td>
                                                    <td>473800</td>
                                                    <td>250400</td>
                                                    <td>112300</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2011</th>
                                                    <td>22899.35</td>
                                                    <td>100.97</td>
                                                    <td>376600</td>
                                                    <td>398700</td>
                                                    <td>281400</td>
                                                    <td>123000</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2012</th>
                                                    <td>22726.44</td>
                                                    <td>103.69</td>
                                                    <td>384800</td>
                                                    <td>427700</td>
                                                    <td>351700</td>
                                                    <td>151500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2013</th>
                                                    <td>22697.86</td>
                                                    <td>103.67</td>
                                                    <td>436700</td>
                                                    <td>484900</td>
                                                    <td>399100</td>
                                                    <td>175500</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2014</th>
                                                    <td>22858.17</td>
                                                    <td>102.22</td>
                                                    <td>512300</td>
                                                    <td>547900</td>
                                                    <td>430300</td>
                                                    <td>167400</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2015</th>
                                                    <td>23106.3</td>
                                                    <td>100</td>
                                                    <td>578600</td>
                                                    <td>629200</td>
                                                    <td>415100</td>
                                                    <td>177600</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2016</th>
                                                    <td>23156.34</td>
                                                    <td>98.216</td>
                                                    <td>677700</td>
                                                    <td>703800</td>
                                                    <td>390400</td>
                                                    <td>182400</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2017</th>
                                                    <td>23646.5</td>
                                                    <td>101.98</td>
                                                    <td>739700</td>
                                                    <td>811600</td>
                                                    <td>358400</td>
                                                    <td>173900</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2018</th>
                                                    <td>24009.12</td>
                                                    <td>104.59</td>
                                                    <td>734200</td>
                                                    <td>814200</td>
                                                    <td>326700</td>
                                                    <td>170800</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2019</th>
                                                    <td>24395.98</td>
                                                    <td>104.54</td>
                                                    <td>673400</td>
                                                    <td>713500</td>
                                                    <td>310000</td>
                                                    <td>169800</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2020</th>
                                                    <td>25165.51</td>
                                                    <td>101.52</td>
                                                    <td>618500</td>
                                                    <td>708600</td>
                                                    <td>313300</td>
                                                    <td>181800</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2021</th>
                                                    <td>25896.82</td>
                                                    <td>111.79</td>
                                                    <td>594400</td>
                                                    <td>652800</td>
                                                    <td>352300</td>
                                                    <td>209100</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2022</th>
                                                    <td>26345.84</td>
                                                    <td>133.87</td>
                                                    <td>380600</td>
                                                    <td>417600</td>
                                                    <td>303000</td>
                                                    <td>208200</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="card-arrow">
                                    <div class="card-arrow-top-left"></div>
                                    <div class="card-arrow-top-right"></div>
                                    <div class="card-arrow-bottom-left"></div>
                                    <div class="card-arrow-bottom-right"></div>
                                </div>
                                <div class="hljs-container">
                                </div>
                            </div>
                        </div>


                        <!-- END col-3 -->
                    </div>

                    <center>


                        <a href="/Tables/TableHeatMapPlus">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-theme">Analizar correlación entre los datos</button>
                            </div>
                        </a>




                    </center>


                    <!-- END row -->
                </div>
                <!-- END col-10 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
